<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
    <add key="connstrng" value="data source=192.168.60.99; user id=sa; password=Connect@123; initial catalog=ploutuspro;Max Pool Size=50000;          Connection Timeout=600;" />
    <!--<add key="connstrng" value="data source=192.168.100.103; user id=sa; password=Connect@123; initial catalog=Ploutusmar_test2;Max Pool Size=50000;Connection Timeout=600;"/>-->
    <add key="savepath" value="C:/Resumes/" />
		<add key="SenderMail" value="hr@ploutusllc.net" />
		<add key="ReceiverMail" value="hr@ploutusllc.net" />
		<add key="MailPassword" value="P@ssw0rd@2013" />
		<add key="port" value="587" />
		<add key="host" value="pod51054.outlook.com" />
    <add key="Resumes" value="\\192.168.60.99\TestResumes\\" />
    <!--<add key="Resumes" value="\\192.168.100.103\\shared\\"/>-->
	</appSettings>
 
  <system.web>

    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
<sessionState cookieless="true" timeout="525600" /> 
    <customErrors mode="RemoteOnly" defaultRedirect="NewHome.aspx">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="NewHome.aspx" />
    </customErrors>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
	</system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
               
        <add value="NewHome.aspx" />
 <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
